/* Custom styles for your website */
body {
  color: #f0f0f0 !important;
  font-family: "Tahoma", Times, serif !important;
  background-color: #0f0f1e;
}

.quarto-title-banner {
  background-color: #1a1a2e; /* Dark blue for title banner */
}

.nav-footer {
  background-color: #1a1a2e;
  color: #b5b4b0;
}

a.no-external {
  color: #f0f0f0 !important;
}

.about-links .bi-github, .about-links .bi-linkedin {
  color: #f0f0f0 !important;
  font-size: 18px !important;
}

.about-link-text, a.about-link {
  color: #f0f0f0 !important;
}

.about-contents {
  text-align: justify;
}

.bg-img {
  position: relative;
  text-align: center;
  color: #f0f0f0;
}

#home {
  display: inline-block;
  height: 100%;
  width: 90%;
  border-radius: 30px;
  border: 3px solid #e94560;
  margin-top: 20px;
  margin-bottom: -20px;
}

.bg-txt {
  text-align: center;
  font-family: 'Norican', cursive;
  font-size: 1.75em;
  font-weight: bold;
  color: #e94560;
}

.listing-category {
  color: #f0f0f0 !important;
}

.blog-text-just {
  text-align: justify;
}

.figure-desc {
  text-align: center;
  font-size: 12px;
  color: #697582;
  margin-top: 5px;
}

.bi-gift-fill + .menu-text {
  display: none;
}
